* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  align-items: center;
}
.start {
  width: 120px;
  transition: all 50ms ease-in;
}
.start:hover {
  transform: scale(1.1);
  transition: all 50ms ease-in;
}
.nav-comp {
  color: rgb(59, 37, 11);
  display: flex;
}

.square {
  width: 27%;
  height: 27%;
  position: relative;
  overflow-y: hidden;
}
.hole {
  position: relative;
  height: 100%;
}
.hole img {
  position: absolute;
  bottom: -17px;
  width: 100%;
  z-index: -1;
}
.mole-container {
  height: 75%;
  overflow-y: hidden;
}
.img {
  background-image: url("./mole.png");
  background-size: cover;
  z-index: 5;
  height: 100%;
  transform: translateY(70px);

  transition: all 500ms ease-in-out;
}
#grid {
  cursor: url("thor.png"), default;
  margin: 0px auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: space-around;
  width: 40rem;
  height: 30rem;
}
.mole {
  transform: translateY(0);
  transition: all 500ms ease-in-out;
}
